{% extends 'admin_panel/base_admin_panel.html.twig' %}

{% block title %}Add Producer{% endblock %}
{% block bread %}
 <div>&#8594; <a href="{{ path('app_producer') }}">Producers</a> &#8594; Add Producer</div>
{% endblock %}
{% block content %}
{{ include('producer/_form.html.twig') }}
{% endblock %}