{% extends 'admin_panel/base_admin_panel.html.twig' %}

{% block title %}Producers{% endblock %}
{% block bread %}
 <div>&#8594; <a href="{{ path('app_producer') }}">Producers</a></div>
{% endblock %}
{% block content %}

{{ include('/producer/_list.html.twig') }}

{% endblock %}