{% extends 'admin_panel/base_admin_panel.html.twig' %}

{% block title %}Add Customer{% endblock %}
{% block bread %}
<div class="bread"> &#8594; <a href="{{ path('app_customer') }}">Customers</a> &#8594; Add Customer</div>

{% endblock %}
{% block content %}
{{ include('customer/_form.html.twig') }}
{% endblock %}