{% extends 'admin_panel/base_admin_panel.html.twig' %}

{% block title %}Customers{% endblock %}
{% block bread %}
 <div class="bread"> &#8594; <a href="{{ path('app_customer') }}">Customers</a></div>
{% endblock %}
{% block content %}

{{ include('/customer/_list.html.twig') }}

{% endblock %}