{% extends 'admin_panel/base_admin_panel.html.twig' %}

{% block title %}Add Discount{% endblock %}
{% block bread %}
<div class="bread"> &#8594; <a href="{{ path('app_discount') }}">Discounts</a>  &#8594; Add discount</div>
{% endblock %}
{% block content %}
{{ form_start(form) }}
{{ form_row(form.name) }}
    <button type="submit" class="btn btn-primary w-100">Add new discount group!</button>
{{ form_end(form) }}

{% endblock %}