{% extends 'admin_panel/base_admin_panel.html.twig' %}

{% block title %}Discounts{% endblock %}
{% block bread %}
<div class="bread"> &#8594; <a href="{{ path('app_discount') }}">Discounts</a></div>
{% endblock %}
{% block content %}

{{ include('/discount/_list.html.twig') }}

{% endblock %}