{%  block body %}
<div class="container bg-primary rounded-3 p-3">
<div class="mb-5"><h1 class="h4 text-white">B2B e-store</h1></div>
<div class="mb-4"><h2 class="h5 text-white">Dashboard</h2></div>
<div class="mb-4">
    <h2 class="h5 text-white">Products</h2>
    <ul class="list-group">
    <li class="list-group-item">Products</li>
    <li class="list-group-item">Producers</li>
    <li class="list-group-item">Stock</li>
    </ul>
</div>
<div class="mb-4">
    <h2 class="h5 text-white">Sales</h2>
    <ul class="list-group">
    <li class="list-group-item">Order List</li>
    <li class="list-group-item">Discount Groups</li>
    </ul>
</div>
<div class="mb-4">
    <h2 class="h5 text-white">Customers</h2>
    <ul class="list-group">
    <li class="list-group-item">Customer List</li>
    <li class="list-group-item">Customer Groups</li>
    </ul>
</div>
<div class="mb-4"><h2 class="h5 text-white">Settings</h2></div>

</div>
{% endblock %}