{%  block body %}
<div class="container">
<div><h1>B2B e-store</h1></div>
<div><h2>Dashboard</h2></div>
<div>
    <h2>Products</h2>
    <ul class="list-group">
    <li class="list-group-item">Products</li>
    <li class="list-group-item">Producers</li>
    <li class="list-group-item">Stock</li>
    </ul>
</div>
<div>
    <h2>Sales</h2>
    <ul class="list-group">
    <li class="list-group-item">Order List</li>
    <li class="list-group-item">Discount Groups</li>
    </ul>
</div>
<div>
    <h2>Customers</h2>
    <ul class="list-group">
    <li class="list-group-item">Customer List</li>
    <li class="list-group-item">Customer Groups</li>
    </ul>
</div>
<div><h2>Settings</h2></div>

</div>
{% endblock %}