{% block body %}
<div class="d-flex justify-content-between">
<div>Total products: {{ products|length }} </div>
<div>
  <form class="w-100 me-3" role="search">
      <input type="search" class="form-control" placeholder="Search..." aria-label="Search">
    </form>
</div>
<div>
<a class="btn btn-outline-light text-decoration-none" href="{{ path('app_product_add') }}">Add product</a>
</div>
</div>
{% endblock %}