{% block body %}
<div class="d-flex justify-content-between">
<div class="text-light">Total products: {{ products|length }} </div>
<div>
<a class="btn btn-outline-light text-decoration-none" href="{{ path('app_product_add') }}">Add product</a>
</div>
</div>
{% endblock %}