{% extends 'admin_panel/base_admin_panel.html.twig' %}

{% block title %}Orders{% endblock %}
{% block bread %}
<div class="bread"> &#8594; <a href="{{ path('app_order') }}">Orders</a></div>
{% endblock %}
{% block content %}

{{ include('/order/_list.html.twig') }}

<script src="{{ asset('build/order.js') }}"></script>
{% endblock %}